<div class="container-fluid p-0">
  <div class="row g-0">

    <!-- Left Menu -->
    <div class="col-md-3 col-lg-2 sidebar">

      <ul class="menu-list">
        <li class="menu-parent">

  <!-- Main License -->
  <a href="javascript:void(0)"
     class="collapse-item license-main"
     (click)="licenseOpen = !licenseOpen">
    🪪  Licenses
    <span class="float-end">
      {{ licenseOpen ? '▲' : '▼' }}
    </span>
  </a>
  <!-- License Dropdown -->
  <ul class="submenu-list" *ngIf="licenseOpen">
     
    
     <li>
      <a routerLink="./pardeep"
         routerLinkActive="active"
         class="collapse-item">
        📄  Pardeep licenses
      </a>
    </li>
   
    
        <li>
      <a routerLink="./ataSarb"
         routerLinkActive="active"
         class="collapse-item">
        📄 Sarbjit Reynolds license
      </a>
    </li>

    <li>
      <a routerLink="./Licence"   
         routerLinkActive="active"
         class="collapse-item">
        📄 ATA Licenses
      </a>
    </li>

    <!-- License Dropdown -->
 



  </ul>

</li>
<ul class="submenu-list" *ngIf="licenseOpen">

  <!-- SL License -->
  <li class="menu-parent">

    <a href="javascript:void(0)"
           routerLinkActive="active"
       class="collapse-item">
      📄 Surplus Line License
      <span class="float-end">
        ▼
      </span>
    </a>

    <!-- SL License Sub Folder - Always Open -->
    <ul class="submenu-list">

      <!-- <li>
        <a routerLink="./surpulLine"
           routerLinkActive="active"
           class="collapse-item">
          📄 Surplus Line License
        </a>
      </li> -->

      <li>
        <a routerLink="./pardeepSlLicence"
           routerLinkActive="active"
           class="collapse-item">
          📄 Pardeep SL Licenses
        </a>
      </li>

      <li>
        <a routerLink="./ATASL"
           routerLinkActive="active"
           class="collapse-item">
          📄 ATA SL License
        </a>
      </li>

    </ul>

  </li>

</ul>


 <li class="menu-parent">

  <!-- Main License -->
  <a href="javascript:void(0)"
     class="collapse-item license-main"
     (click)="appointmentOpne = !appointmentOpne">
    👔  Appointment
    <span class="float-end">
      {{ appointmentOpne ? '▲' : '▼' }}
    </span>
  </a>
  <!-- License Dropdown -->
  <ul class="submenu-list" *ngIf="appointmentOpne">
     <li>
      <a routerLink="./ataFolderCarrier"
         routerLinkActive="active"
         class="collapse-item">
        📄  Carrier (MG)
      </a>
    </li>
        <li>
      <a routerLink="./underCarrierInsurance"
         routerLinkActive="active"
         class="collapse-item">
        📄 Under carrier insurance
      </a>
    </li>

   

   



  </ul>

</li>
   <li>
           <a routerLink="./ataFolderAgent" routerLinkActive="active" class="collapse-item">
          👔 Appointed Agents/Agencies
          </a>
          </li>
          <li>
           <a routerLink="./paymentMethod" routerLinkActive="active" class="collapse-item">
          💳 Payment Method
          </a>
          </li>

          
            <li>
           <a routerLink="./w9" routerLinkActive="active" class="collapse-item">
         📑 W-9 & W-4
          </a>
          </li>
         <li >
           <a routerLink="./endo" routerLinkActive="active" class="collapse-item">
          📝 E&O Policy
          </a>
          </li>

           <li>
           <a routerLink="./ataCrime" routerLinkActive="active" class="collapse-item">
            💲 Cyber Crime Policy
         
          </a>
          </li>

          
           <li>
           <a routerLink="./dyl" routerLinkActive="active" class="collapse-item">
         📋 DYL PHONE
          </a>
          </li>

          
           <li>
    <a routerLink="./ataBond" routerLinkActive="active" class="collapse-item">
      💲 ATA Bonds
    </a>
  </li>


      <li>
    
    <a routerLink="./ataTax" routerLinkActive="active" class="collapse-item">
      💲 ATA Tax
    </a>
  </li>
    <li>
    <a routerLink="./ataInfo" routerLinkActive="active" class="collapse-item">
      💲 ATA Information
    </a>
  </li>
        
         
            <li>
    <a routerLink="./ataDocument" routerLinkActive="active" class="collapse-item">
      💲 ATA Documents
    </a>
  </li>
  
  
            <!-- <li>
    <a routerLink="./ataOp" routerLinkActive="active" class="collapse-item">
       📅 ATA Appointments
    </a>
  </li> -->
   <!-- <li>
          <a routerLink="./Licence"   routerLinkActive="active" class="collapse-item">
           🪪  ATA Licenses
          </a>
        </li> -->
  




 

       
          
          
          
         
         
        
         
          
         
       
       

        <!-- <li>
          <a routerLink="./carrier" routerLinkActive="active" class="collapse-item">
            Carrier
          </a>

          <ul class="submenu-list">
            <li>
              <a routerLink="./carrier-list"
                 routerLinkActive="active"
                 class="collapse-item">
                Carrier List
              </a>
            </li>

            <li>
              <a routerLink="./carrier-type"
                 routerLinkActive="active"
                 class="collapse-item">
                Carrier Type
              </a>
            </li>
          </ul>
        </li> -->

        <!-- <li>
          <a routerLink="./carrierCoverage"
             routerLinkActive="active"
             class="collapse-item">
            Under Carrier
          </a>
        </li> -->

      </ul>

    </div>

    <!-- Right Content -->
    <div class="col-md-9 col-lg-10 content-area">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>