.sidebar{
    min-height:80vh;
    background:#fff;
    border-right:1px solid #ddd;
    padding:5px;
    
    width: 200px;
}

.content-area{
    padding:20px;
    background:#fff;
    min-height:80vh;
    font-size: small;
}

.menu-list,
.submenu-list{
    list-style:none;
    padding:0;
    margin:0;
}

.menu-list>li{
    margin-bottom:10px;
}

.collapse-item{
    display:block;
    padding:5px 6px;
    color:rgba(0, 0, 0, 0.545);
    font-size:12px;
    font-weight:500;
    text-decoration:none;
    border-radius:4px;
    font-family: 'Roboto';
}

.collapse-item:hover{
    background:#f5f5f5;
}

.collapse-item.active{
    // background:#0d6efd;
    color:#0d6efd;
}

.submenu-list{
    margin-left:18px;
    border-left:2px solid #dcdcdc;
    padding-left:15px;
    margin-top:6px;
}

.submenu-list .collapse-item{
    font-size:10px;
    color:#444;
    position:relative;
}

.submenu-list .collapse-item::before{
    content:"";
    position:absolute;
    left:-15px;
    top:50%;
    width:10px;
    border-top:1px solid #bdbdbd;
}





.menu-parent {
  list-style: none;
}

.license-main {
  cursor: pointer;
  display: block;
}

.submenu-list {
  list-style: none;
  padding-left: 14px;
  margin: 0;
}

.submenu-list li a {
  display: block;
  padding: 6px 12px;
  font-size: 12px;
}

.submenu-list li a.active {
  font-weight: 500;
  color: #4e73df !important;
}