
<div class="container-fluid">
  <div *ngIf="showSpiner" class="spinner-container">
  <app-spinner></app-spinner>
</div>
  
  <div *ngIf="!showSpiner" class="row align-items-center mb-3 g-2">

  <!-- 🔍 Search Box -->
  <div class="col-md-4">
    <div class="search-box">
      <i class="fa fa-search"></i>
      <input 
        type="search" 
        class="form-control"
        placeholder="Search by Carrier..."
         [(ngModel)]="searchText"
  (input)="applyFilter()"
        autofocus
      />
      <button class="btn-search">Search</button>
    </div>
  </div>

  <!-- Empty space (auto handled now) -->
  <div class="col-md-4"></div>

  <!-- ➕ Add Button -->
  <div class="col-md-4 text-end">
    <button class="btn btn-add" (click)="addEditData()">
      <i class="fa fa-plus me-1"></i> ADD CARRIER
    </button>
  </div>

</div>




<div class="table-container shadow-sm">
  <div class="table-header">
    <h5 class="mb-0">CARRIER LIST</h5>
  </div>

  <div class="table-scroll">
    <table class="table custom-table">
      <thead>
        <tr>
          <th class="fw-semibold">Carrier Name</th>
             <th>Phone</th>
             <th>Address </th>
             <th>Contact Number </th>
             <th>Commission</th>
              <th>Enter By </th>
              <th></th>
          
          
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of listOfCarrier" (dblclick)="goTOcarrierAttachemnt(item)">
  <td>{{ item.CarrierName }}</td>
  <td>{{ item.PhoneNumber }}</td>
  <td>{{ item.Address }}</td>
   <td>{{ item.ContactNumber }}</td>
  <td>{{ item.Commission}}%</td>
   <td>{{item.EnteredBy}}</td>
   <td style="text-align: right;">
    <button mat-icon-button color="primary" (click)="addEditData(item)">
  <mat-icon>edit</mat-icon>
</button>
             
            </td>
</tr>
        <!-- Empty State -->
        <!--
        <tr *ngIf="listOfData.length === 0">
          <td colspan="7" class="text-center text-muted py-4">
            No data found
          </td>
        </tr>
        -->
      </tbody>
    </table>
  </div>
</div>



</div>

