
<div  >

 <div class="container-fluid page-background">

   <div *ngIf="showSpiner" class="spinner-container">
  <app-spinner></app-spinner>
</div>

    
 
  
     <div class ="row mt-2" *ngIf="!showSpiner">
       <div class="col-sm-2">
        <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.ARDue" placeholder="🔍Invoice Due"
         (ngModelChange)="onARDueChange($event)"/>
		    <!-- <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By AR Due</button> -->
	     </div>
        
       </div>
       <div class="col-sm-2">
         <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.GenerateInvoice" (ngModelChange)="onGenerateInvoiceChange($event)" placeholder="🔍By GE Date"/>
		    <!-- <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By GE Date</button> -->
	     </div>
      </div>
      <!-- <div class="col-sm-3">
           <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.Child_EffectiveDate" (ngModelChange)="onChild_EffectiveDateChange($event)"/>
		    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By EF Date</button>
	     </div>
        
      </div> -->
      <!-- <div class="col-sm-3 mt-2">
           <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.Child_ExpirationDate" (ngModelChange)="onChild_ExpirationDateChange($event)"/>
		    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By EX Date</button>
	     </div>
      
      </div> -->
    
         <div class="col-sm-3">
          
         <button class="btn btn-add" (click)="goToAttachement()">
       <i class="fa fa-paperclip me-1"></i>ATTACHMENT FILE HERE
    </button>
    
 
      
      </div>
      <div class="col-sm-2">
          <button class="btn btn-add" *ngIf ="submitFormAlert" (click)="submitForm()" >
       <i class="fa fa-file-invoice me-1"></i>Genrate Invoice
    </button>
       
       <div class="" style="text-align: right;" *ngIf ="!submitFormAlert">
         <p style="color: red; font-size: small;">Getting Invoice Id </p>
       
       </div>

      </div>
      
    <div class="col-sm-3">
  <button 
   class="btn btn-add"
    (click)="addEditData($event)">
    <i class="fa fa-file-invoice me-1"></i>
 {{AccountName}} -(Billing)
  </button>
</div>
      
       
    
      </div>
    
      

       
  
    <div class="scrolling mt-2">

    
       <table  class="table table-bordered " >
         <thead class="">
           <tr >
             <th scope="col">SR.NO</th>
             <th scope="col">InID</th>
             <th scope="col">Policy Name </th>
             <th scope="col">Policy Date</th>
             
             <th scope="col">Invoice Date </th>
             <th scope="col">Invoice Date </th>
           
            
             <th scope="col">Description</th>
             <th scope="col">Amount</th>
             <!-- <th scope="col"> Fee</th>
            
             <th scope="col">SurpluxTax</th>
             
            
             <th scope="col">Financed</th>
             <th  scope="col">ADiscount</th>
             <th scope="col">AgencyFees</th> -->

             <th scope="col"> Balance</th>
             
             <th scope="col">EnterBy</th>
             <th scope="col"> Received</th>
             
             <th scope="col"></th>
           
             <th scope="col"></th>
   
           </tr>
         </thead>
         <tbody>
           <tr *ngFor ="let data of listOfTransactions |  searchTransactionFilter: searchCriteria" >
            <td style="width: 10px;">{{data.SrNo}}</td>
           
             <td style="width: 10px;">{{data.InvoiceID}}</td>
             <td >{{data.ChildLineName}}</td>
             <td>{{data.Child_EffectiveDate |date:'MM-dd-yyyy'}}- {{data.Child_ExpirationDate | date:'MM-dd-yyyy'}}</td>
            
             <td>{{data.GenerateInvoice | date:'MM-dd-yyyy'}}</td>
             <td> {{data.ARDue | date:'MM-dd-yyyy'}}</td>
             <!-- <td >{{data.Service == 0 ? data.ChildPolicy_Description : data.Endorsement_Description}}</td> -->
              <td> {{ data.DriverDescription === 'ADD SARB' ? 'POLICY' : data.DriverDescription }}</td>
             <td >{{data.Amount  | currency:'USD':'symbol':'1.2-2'}}</td>   
             <!-- <td >{{data.PolicyFee  | currency:'USD':'symbol':'1.2-2'}}</td>
             <td >{{data.SurpluxTax  | currency:'USD':'symbol':'1.2-2'}}</td>
            
            
           
           
             <td>{{data.CompanyFinanced  | currency:'USD':'symbol':'1.2-2'}}</td>
             <td>{{data.AgencyDiscount  | currency:'USD':'symbol':'1.2-2'}}</td>

             <td>{{data.AgencyFees  | currency:'USD':'symbol':'1.2-2'}} </td>  -->
             <td><span style="color: red; font-weight: 500;">{{data.OpeningBalance | currency:'USD':'symbol':'1.2-2'}}</span></td>
              
               <td>{{data.EnteredBy }}</td>
               <td style="color: green;">{{data.TotalRecievedAmount | currency:'USD':'symbol':'1.2-2'}}</td>
              
               <td > 
                <span style="margin-left:15px"><input type="checkbox" class="form-check-input" value="{{data.TransactionID}}" 
                 (change)="cehckboxcehck($event)">
                </span>
               <!-- <span *ngIf ="data.OpeningBalance == 0"  style="color: green;"><i class="fa fa-check" aria-hidden="true"></i></span> -->
               </td>
            
           
              
            
              <td style="width: 10;">
                <a [matMenuTriggerFor]="menu">  <i class="fa fa-cog" aria-hidden="true"></i></a>
               
              <mat-menu #menu="matMenu">
                 <button   mat-menu-item   (click)="addEditData(data)">
                   <mat-icon>edit</mat-icon>
                   <span >Edit</span>
                 </button>
                  <button   mat-menu-item   (click)="viewTransactions(data)">
                   <mat-icon>visibility</mat-icon>
                   <span >View</span>
                 </button>
                 
                 <button  mat-menu-item (click)="manageBalance(data)">
                   <mat-icon>balance</mat-icon>
                   <span>Manage Balance</span>
                 </button>
                 <button  mat-menu-item  (click)="displayDataBrokerMG(data)">
                   <mat-icon>balance</mat-icon>
                   <span>MG & Carrier Name</span>
                 </button>
                 <button  mat-menu-item (click) ="addInvoice(data)">
                   <mat-icon >picture_as_pdf</mat-icon>
                   <span> Invoice</span>
                 </button>
                  <button   mat-menu-item (click) ="receipt(data)">
                   <mat-icon >picture_as_pdf</mat-icon>
                   <span> Receipt</span>
                 </button>
               </mat-menu> 
              </td>
               <!-- <td></td>
             <td><a href="javascript:void(0)" ><mat-icon></mat-icon></a></td> -->
            
   
             
           </tr>
          
         </tbody>
         
       </table>
      </div>
 
   <table class="table">
     <thead >
       <tr>
       
       </tr>
     </thead>
     <tbody>
       <tr >
        
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        
         <td></td>
         <td></td>
         <td></td>
         <td><p >Total Opening Balance</p></td>
         <td></td>
         
         <td> <p >{{TotalBalance | currency}}</p></td>
       </tr>
      
     
     </tbody>
   </table>
  

    
     

  
   
      
   </div>
 </div>



