<h3 mat-dialog-title class="text-center">
  Carrier : {{ accountName }}
</h3>

<!-- Spinner -->
<div *ngIf="!showFiv" class="text-center p-3">
  <h5>File Size is Big so it will take some time to Upload</h5>
 
</div>
 <mat-dialog-content class="dialog-content mt-1">
<form [formGroup]="addEditAttachmentForm" *ngIf="showFiv">

  <!-- 🔽 SCROLLABLE FORM BODY -->
 

    <div class="col-sm-12"> <label>Upload file here</label>
         <div class=" file-container center text-center" > <label>Upload file here</label>
             <input type="file" class="file" placeholder="File Name" multiple accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.wav" (change)= "onFileUpload($event)" [ngClass]= "{ 'is-invalid': submit && f['abc'].errors }" />
              <div *ngIf ="submit && f['abc'].errors" class="invalid-feedback"> <div *ngIf ="f['abc'].errors">FIle is required</div> 
            </div> <label>Upload file here</label> </div> </div> <div *ngIf ="files"> {{files.name}} </div>

    <!-- Binding -->
  
 <div class="mt-3 mb-3"> 
           <mat-form-field appearance="outline" class="w-100 custom-textarea">

  <mat-label>
    <mat-icon class="me-1">description</mat-icon>
    Description
  </mat-label>

  <textarea
    matInput
    formControlName="AgencyEarned"
    rows="3"
    placeholder="Write a short description..."
    maxlength="200">
  </textarea>




</mat-form-field>
                
             </div>
    
 

    <!-- Policies -->


   
    

    

  </form>
  </mat-dialog-content>

  <!-- 🔒 FIXED BUTTONS -->
  <mat-dialog-actions align="end" class="dialog-footer">

    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      <mat-icon>upload</mat-icon>
      Upload Data
    </button>

    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
    >
      Cancel
    </button>

  </mat-dialog-actions>


