<h3 mat-dialog-title class="text-center">
  Account Name : {{ accountName }}
</h3>

<!-- Spinner -->
<div *ngIf="!showFiv" class="text-center p-3">
  <h5>File Size is Big so it will take some time to Upload</h5>

</div>

<form [formGroup]="addEditAttachmentForm" *ngIf="showFiv">

  <!-- 🔽 SCROLLABLE FORM BODY -->
  <mat-dialog-content class="dialog-content mt-1">

    <div class="col-sm-12"> 
        <label>Upload file here</label>
         <div class=" file-container center text-center" > <label>Upload file here</label>
             <input type="file" class="file" placeholder="File Name" multiple accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.wav" (change)= "onFileUpload($event)" [ngClass]= "{ 'is-invalid': submit && f['abc'].errors }" />
              <div *ngIf ="submit && f['abc'].errors" class="invalid-feedback"> <div *ngIf ="f['abc'].errors">FIle is required</div> 
            </div> <label>Upload file here</label> </div> </div> <div *ngIf ="files"> {{files.name}} </div>

    <!-- Binding -->
    <div class="mt-5">

    
        <mat-form-field appearance="outline" class="w-100">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="VehicleDescription" rows="3"></textarea>
  </mat-form-field>
      
    </div>

 


    

    <!-- File Upload -->
  
  </mat-dialog-content>

  <!-- 🔒 FIXED BUTTONS -->
  <mat-dialog-actions align="end" class="dialog-footer">

 <button
  style="background-color: #232324c0;color: white;"
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
  [disabled]="isSaving"
>
  <mat-icon>upload</mat-icon>

  {{ isSaving ? 'Uploading...' : 'Upload Data' }}

</button>

    <button  style="background-color: #232324c0;color: white;"
      mat-raised-button
      color="warn"
      mat-dialog-close
    >
      Cancel
    </button>

  </mat-dialog-actions>

</form>
