
<div *ngIf ="showSpiner" class="spinner-container">
<app-spinner></app-spinner>
</div>


<div *ngIf ="!showSpiner" class="container-fluid" style="background-color: white;">




 
  
 
   
  <div class="row mt-2" >
    <div class="col-sm-4 mt-1">
       <button mat-stroked-button class="back-btn" (click)="goToCarrier()">
  <mat-icon>arrow_back</mat-icon>
  BACK
</button>

    </div>
    
   
    <div class="col-sm-3">
    <input
  type="text"
  class="form-control mt-1 mb-3 text-center"
  placeholder="Search File Here"
  [(ngModel)]="searchTerm"
/>

    </div>
     <div class="col-sm-2">
      
    </div>

     <div class="col-sm-3 mt-2" style="text-align: right;">
         <button class="btn btn-add" (click)="addEditAttachement()">
      <i class="fa fa-plus me-1"></i> Carrier ATTACHMENT
    </button>
    
 
    </div>
   </div>
    
   
   

   <div class="table-container shadow-sm">
  <div class="table-header">
    <h5 class="mb-0">CARRIER ATTACHMENT  LIST</h5>
  </div>
      <div class="scrollingPolicy">
    <table class="table custom-table">
             <thead >
               <tr>
                 <th >File Path</th>
                 <th >Description</th>
                 <th >Enter Date</th>
                
                 <th >Enter By</th>
                 
                 
                 
                
               </tr>
             </thead>
             <tbody>
               <tr  *ngFor ="let data of filteredAttachments | searchTransactionFilter:searchCriteria" (click)="onRowClick(data)">
                <td>{{data.FileName}}</td>
                <td>{{data.AgencyEarned}}</td>
                
                <td>{{data.EnteredDate | date: 'MM/dd/yyyy'}}</td>
             
                <td>{{data.EnteredBy}}</td>
              
               
               
                
               </tr>
             </tbody>
           </table>
     </div>
   </div>
  

</div>


