
<div class="container">
 <div *ngIf ="!showFiv">
     <h5>File Size is  Big sow it will take some time to Upload</h5>
    <div  class="spinner-overlay">
  <div class="spinner"></div>
</div>
   </div>
  
  
   
    <div class="container-fluid " *ngIf ="showFiv" style="background-color: white;">
     <h5 style="text-align: center; background-color: white;color: rgba(0, 0, 0, 0.445);margin-top: 5px;"> Cyber  Policy</h5>
 
       
         <form [formGroup] ="addEditAttachmentForm"> 
             <div class="row ">
            
                 
                 <div class="col-sm-12 ">
                     <label>Upload file here</label>
                     <div class=" file-container center  text-center mt-2" >
                         
                         <label>Upload file here</label>
                         <input
                         type="file"
                         class="file"
                         placeholder="File Name"
                         multiple
                         accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.wav"
                         
                         (change)= "onFileUpload($event)"  [ngClass]= "{ 'is-invalid': submit && f['abc'].errors }" />
                         <div *ngIf ="submit && f['abc'].errors" class="invalid-feedback">
                             <div *ngIf ="f['abc'].errors">FIle is required</div>
                         </div>
                         <label>Upload file here</label>
                     </div>
                 </div>
                  
                    
             <div *ngIf ="files">
                 {{files.name}}
              
             </div>
             <div class="mt-3 mb-1"> 
                 <label>Description</label>
                 <textarea class="form-control" rows="3"formControlName="Description"></textarea>
                 <!-- <select class="form-select form-select-sm" formControlName="Description" aria-label=".form-select-sm example"[ngClass]= "{ 'is-invalid': submit && f['Description'].errors }">
                   
                    <option hidden value="" disabled selected  >Select Description Type</option>
                    <option value="Agency communication">Agency communication</option>
                    <option  value="Application">Application</option>
                    <option value="Company Reports">Company Reports</option>
                    <option value="Drivers">Drivers</option>
                    <option value="Vehicles">Vehicles</option>
                    <option value="IFTA">IFTA</option>
                    <option value="Loss Runs">Loss Runs</option>
                    <option value="Endorsement ">Endorsement </option>
                    <option value="Submissions">Submissions</option>
                    <option value="Quote">Quote</option>
                    <option value="Cab Card">Cab Card</option>
                  </select> -->
                
                 <div *ngIf ="submit && f['Description'].errors" class="invalid-feedback">
                     <div *ngIf ="f['Description'].errors">Description is required</div>
                 </div>
                 
             </div>
                     
               
             </div>
         
            
         </form>
      
    
        <div class="mt-3 mb-2" style="text-align: right;">
        
            <a href="javascript:void(0)"  (click)="onSubmit();" class="d-none d-sm-inline-block btn btn-sm  shadow-sm me-2" style="background-color: #232324c0;color: white;"><i class="fas fa-check fa-sm text-white-50"></i> ADD ATTACHMENT</a>
            <a href="javascript:void(0)"  class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"  mat-dialog-close><i class="fas fa-times fa-sm text-white-50"></i> CANCEL</a>

       </div>
     
         <!-- <div class="text-center mt-5 mb-5">
             <div class="btn-group  gap-2  " >
                
                 <button mat-stroked-button class="text-right" (click)="onSubmit()">Save</button>
                 <button mat-stroked-button class="text-right" color="warn" mat-button mat-dialog-close>Clear</button>
                
               
               </div>
         </div> -->
     
     </div>
   

</div>
