<div class="container-fluid" style="background-color: white;">

  <button 
    style="width: 300px; color: green;"
    class="learn-more"
    [useExistingCss]="true"
    printSectionId="print-section"
    printTitle="Invoice"
    ngxPrint>
    Save And Convert PDF
  </button>

  <!-- FIXED CONTAINER -->
  <div class="container" id="print-section">

    <!-- ✅ SINGLE LOOP -->
    <div *ngFor="let data of listForPdf" class="invoice-block">
    

      <!-- HEADER -->
      <div class="row">

        <div class="col-sm-6">
          <h3 >Alkaid Transportation Association LLC (ATA)</h3>
          <p style="margin:0;">Phone :- <span style="font-weight:500;">510-294-8607</span></p>
          <p style="margin:0;">State :- <span style="font-weight:500;">CA</span></p>

            <div style="margin-top:20px;">
              <h4>AGENT DETAIL</h4>
            <p style="margin:0;">
              Agency  : <span style="font-weight:500;">{{data.AgencyName}}</span><br/>
              Agent   :- <span style="font-weight:500;">{{data.AgentName}}</span><br/>
             
               Address :- <span style="font-weight:500;">{{data.Agent_Address}}</span><br/>
                Number :- <span style="font-weight:500;">{{data.Agent_PhoneNumber}}</span><br/>
              <!-- City :- <span style="font-weight:500;">{{data.City}}</span><br/>
              State :- <span style="font-weight:500;">{{data.State}}</span> -->
            </p>
          </div>

          <div style="margin-top:20px;">
             <h4>ACCOUNT DETAIL</h4>
            <p >
              Account Name :- <span style="font-weight:500;">{{data.AccountName}}</span><br/>
              Phone :- <span style="font-weight:500;">{{data.MobileNumber}}</span><br/>
              Address :- <span style="font-weight:500;">{{data.MailingAddress}}</span><br/>
              <!-- City :- <span style="font-weight:500;">{{data.City}}</span><br/>
              State :- <span style="font-weight:500;">{{data.State}}</span> -->
            </p>
          </div>
        </div>

        <div class="col-sm-4 offset-sm-2">
          <h3>Invoice#: 
            <span style="font-weight:600;">
              {{InvoiceID}}{{data.AccountName | slice:0:3 }}
            </span>
          </h3>

          <!-- TABLES -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Account Number</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{data.DOT}}</td>
                <td>{{currentDate | date:'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>BALANCE DUE ON</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{data.ARDue | date:'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>AMOUNT PAID</th>
                <th>AMOUNT DUE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{data.ReceiveAmount | currency}}</td>
                <td>{{data.TotalOpeningBalance | currency}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <!-- DETAILS TABLE -->
       <div >
 <div class="mt-4 border p-3"   *ngIf="data?.VehicleDetails?.length > 0 &&
            !data.Detail?.some(d => d.TransCode === 'NEW Policy')">>
          <h2 style="text-decoration: underline;"> Vehicle Details</h2>
        <table class="table table-borderless">
          <thead>
            <tr style="background-color:black; color:white;">
              <th>Sr No</th>
              <th>Vehicle Description</th>
              <th>TransCode</th>
              <th>Change Date</th>
              <th>Policy Number</th>
             
             
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let vehicle of data.VehicleDetails; let v=index">

              <tr>
                <td>{{v+1}}</td>
                <td>{{vehicle.VehicleDescription }}</td>
                <td>{{vehicle.FileName}}</td>
                <td> <a [href]="vehicle.FileUrl" target="_blank">
    View File
  </a></td>
                <td>{{vehicle.AttachmentDate | date:'MM/dd/yyyy'}}</td>

                

             
              </tr>

             
            </ng-container>

            <!-- TOTAL -->
         

          </tbody>
        </table>
      </div>
       </div>
       
      <div class="mt-4 border p-3">
        <h2 style="text-decoration: underline;"> Biiling Details</h2>
        <table class="table table-borderless">
          <thead>
            <tr style="background-color:black; color:white;">
              <th>Sr No</th>
              <th>Effective - Expiration Date</th>
              <th>TransCode</th>
              <th>Change Date</th>
              <th>Policy Number</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let data1 of data.Detail; let i=index">

              <tr>
                <td>{{i+1}} {{data1.TransCode}}</td>
                <td>{{data1.Effective | date:'MM/dd/yyyy'}} - {{data1.Expiration | date:'MM/dd/yyyy'}}</td>
                <td>{{data1.TransCode}}</td>
                <td>{{data1.EffectiveDate | date:'MM/dd/yyyy'}}</td>
                <td>{{data1.ChildPolicyName}}</td>

                <td>
                  Premium <br/>
                  Policy Fees:<br/>
                  Surplux Tax:<br/>
                  Staming Fee:<br/>
                  <!-- Financed:<br/> -->
                  ATA Fees:<br/>
                  
                 Total premium<br/>
                % Commission:<br/>
                $ Commission:<br/>
                </td>

                <td>
                  <span style="color:red;">{{ data1.Amount | currency:'USD' }}</span><br/>
                  <span style="color:red;">{{ data1.PolicyFee | currency:'USD' }}</span><br/>
                  <span style="color:red;">{{ getCalculatedValues(data1).surpluxValue | currency:'USD' }}</span><br/>
                  <span style="color:red;">{{ getCalculatedValues(data1).stamingValue | currency:'USD' }}</span><br/>
                  <!-- <span style="color:red;">{{ data1.CompanyFinanced | currency:'USD' }}</span><br/> -->
                  <span style="color:red;">{{ data1.AgencyFees | currency:'USD' }}</span><br/>
                   <span style="color:red; font-weight:800;">
                    {{ totalPremium| currency:'USD' }}
                  </span><br/>
                  <span style="color:red;">
  {{ data1.Commission }}%
  
</span><br/>
                  
<span style="color:red;">({{ getCalculatedValues(data1).commissionValue | currency:'USD':'symbol':'1.2-2' }})</span>
                 
                </td>
              </tr>

              <!-- TRANSACTIONS -->
              <tr *ngFor="let transaction of data1.TransactionDetails">
                <td></td><td></td><td></td><td></td><td></td>
                <td >{{transaction.Notes}} - {{transaction.CurDate | date:'MM/dd/yyyy'}}</td>
                <td style="color:red;">({{transaction.RecieveAmount | currency}})</td>
              </tr>

            </ng-container>

            <!-- TOTAL -->
            <tr>
              <td colspan="5"></td>
              <td>Due Amount</td>
              <td style="font-weight:600; color:red;">
                {{data.TotalOpeningBalance | currency}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <!-- NOTES -->
    <div *ngFor="let note of allNotes">
      <h1>Note:- 
        <span style="font-size:18px; font-weight:normal;">
          {{ note }}
        </span>
      </h1>
    </div>

  </div>
</div>